@charset "utf-8";

body{
  background-color: #fff;
  overflow-x: hidden;
  letter-spacing: -.5;
  overflow-y:scroll;
}

#root{
  overflow-x: hidden;
}

/* scrollbar */
.scroll-gage{
  width: 100%;
  height: 10px;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.scroll-gage .scroll-bar{
  width: 0%;
  height: 100%;
  background-color: #a4ffb1;
  transition: all 0.35s;
}
/*// scrollbar */

/* 헤더 */
header{
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  background-color: #fff;
  transition: all 0.35s;
  z-index: 99;
}
.main{
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.7);
  background-color: #343434;
}
.main nav a{
  color: #fff;
}

header nav .head-menu2::before,
header nav .head-menu2::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #6A6868;
  transition: all 0.35s;
  
}

header nav .head-menu2::before{
  width: 0;
  z-index: 9;
}
header nav .head-menu2:hover:before{
  width: 100%;
  background-color: #fff;
}
header nav{
  margin-right: 4rem;
}

header nav a{
  margin-right: 2rem;
  color: #343434;
  font-size: 1.5rem;
  font-weight: 500;  
  position: relative;
}
header nav a:last-child{
  margin-right: 0;
}
header nav .head-menu::before,
header nav .head-menu::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #d9d9d9;
  transition: all 0.35s;
  
}
header nav .head-menu::before{
  width: 0;
  z-index: 9;
}
header nav .head-menu.border-color::before{
  background-color: #343434;
  width: 100%;
}
header nav .head-menu2.border-color::before{
  background-color: #fff;
  width: 100%;
}
header nav .head-menu:hover:before{
  width: 100%;
  background-color: #343434;
}
/* //헤더 */

/* pagenation */
.pagenation{
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

.pagenation span{
  background-color: #a8a8a8;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.35s;
}
.pagenation span:first-child{
  margin-top: 0;
}

.pagenation span.scale12{
  transform: scale(1.5);
  background-color: #343434;
}
.pagenation span.scale12w{
  transform: scale(1.5);
  background-color: #fff;
}
/* pagenation */

/* welcome */
.bottom,
.top{
  position: fixed;
  font-size: 5rem;
  color: #343434;
  transition: all 0.35s;
  opacity: 1;
}
.top{
  left: 10%;
  top: 20%;
}
.bottom{
  right: 10%;
  bottom: 20%;
}
/* //welcome */

/* one */
.one{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
  height: 30px;
  width: 30px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.35s;
  z-index: 100;
  transform: perspective(1px) translateZ(0) rotate(0.001deg);
}
.one object{
  width: 30px;
  height: 30px;
  backface-visibility: hidden;
}
/* //one */

/* 텍스드 픽스드 */
.txt-fixed{
  position: fixed;
  background-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  width: 100%;
}
.txt-fixed p{
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s;
  display: block;
}
/*//텍스트 픽스드 */

/* scroll-area */
.scroll-area{
  width: 100%;
  height: 100vh;
  /* background-color: #fff; */
}
/* //scroll-area */

/* profile1 */
.profile1-box{
  padding-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.tap-head{
  display: none;
}

.profile1-box .profile-all{
  margin-right: 18rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.profile1-box .profile-all .img-box{
  width: 250px;
  height: 250px;
  margin-bottom: 3rem;
}

.profile1-box .profile-all .name-age-box{
  display: flex;
  margin-bottom: 3.75rem;
}

.profile1-box .profile-all .name-age-box .name{
  margin-right: 2.5rem;
}

.profile1-box .profile-all .name-age-box .en{
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.profile1-box .profile-all .name-age-box .ko{
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
}
.profile1-box .profile-all .education .head-t{
  font-size: 2rem;
  font-weight: 600;
}
.profile1-box .profile-all .education p{
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  margin-top: 1.5rem;
}

.profile1-box .time-line h1{
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.profile1-box .time-line .img-box{
  width: 720px;
  height: 600px;
}
.profile1-box .profile-all,
.profile1-box .time-line{
  padding-bottom: 5rem;
}
/*// profile1 */

/* profile2 */
/* langbox */
.profile2-box{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile2-box .language-box {
  margin-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 28%;
}

.profile2-box .language-box span{
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.profile2-box .language-box span:last-child{
  margin-bottom: 0;
}



.profile2-box .js{
  color: #F3FFD2;
}
.profile2-box .rea{
  color: #67B6FF;
}
.profile2-box .node{
  color: #68F096;
}
.profile2-box .jquery{
  color: #8193D1;
 
}
.profile2-box .html{
  color: #E88686;
}
.profile2-box .css{
  color: #5891FF;
}
/* //langbox */

/* workmanship */
.workmanship .h-txt{
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2rem;
}

.workmanship  .content .item{
  margin-bottom: 2rem;
  text-align: end;
}
.workmanship  .content .item p{
  font-size: 1.25rem;
  font-weight: 500;
}

.workmanship  .content .item .line{
  width: 545px;
  height: 2px;
  border-radius: 100px;
  background-color: #a8a8a8;
  margin-top: 1.5rem;
  position: relative;
}
.workmanship  .content .item .line::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
}
.workmanship  .content .item .js-line::after{
  width: 80%;
  background-color: #F3FFD2;
}
.workmanship  .content .item .rea-line::after{
  width: 50%;
  background-color: #67B6FF;
}
.workmanship  .content .item .node-line::after{
  width: 40%;
  background-color: #68F096;
}
.workmanship  .content .item .jquery-line::after{
  width: 70%;
  background-color:#8193D1;
}
.workmanship  .content .item .html-line::after{
  width: 90%;
  background-color: #E88686;
}
.workmanship  .content .item .css-line::after{
  width: 80%;
  background-color: #5891FF;
}
/* //workmanship */
/* //profile2 */

.project-slide.m{
  display: none;
}
.arrow.m{
  display: none;
}

/* project */
.project-box{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}
/* 프로젝트헤드 */
.project-head{
  display: flex;
  align-items: flex-end;
  margin-bottom: 5rem;
}

.project-head h1{
  font-size: 6.25rem;
  font-weight: 600;
  color: #fff;
}

.project-head span{
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding-bottom: 1rem;
}

.project-head .mini,
.project-head .app{
  display: none;
}
/*// 프로젝트헤드 */
/* 프로젝트 슬라이드 */
.project-slide{
  width: 1370px;
  margin: 0 auto;
  overflow: hidden;
}

.project-slide .project-mask{
  display: flex;
  width: 4300px;
  transition: all 0.35s;
  align-items: center;
  justify-content: center;
}

.project-slide .project-mask .project-item{
  width: 650px;
  /* 650px */
  height: 450px;
  background-color: #F0F0F0;
  border-radius: 30px;
  margin-right: 100px;
  transition: all 0.35s;
  overflow: hidden;
}
.project-slide .project-mask .project-item:last-child{
  margin-right: 0;
  position: relative;
}

.project-slide .project-mask .project-item:last-child::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: #a8a8a8;
}

.project-slide .project-mask .project-item .head-txt{
  display: flex;
  align-items: flex-end;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.project-slide .project-mask .project-item .head-txt h2{
  font-size: 2rem;
  font-weight: 600;
  color: #343434;
  margin-right: 0.875rem;
  font-family: 'Roboto', sans-serif;
}
.project-slide .project-mask .project-item .head-txt span{
  padding-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #343434;
  font-family: 'Roboto', sans-serif;
}

.project-slide .project-mask .project-item .sub-txt{
  display: block;
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #343434;
  font-family: 'Roboto', sans-serif;
}

.project-slide .project-mask .project-item .img-box{
  width: 90%;
  height: 206px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3.5rem;

}
.project-slide .project-mask .project-item .img-box a img{
  object-fit: cover;
}
/*// 프로젝트 슬라이드 */
/* arrow */
.arrow{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}
.arrow .page{
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin: 0 2rem;
}
.arrow a{
  width: 25px;
  height: 43px;
  display: inline-block;
}

/* arrow */

/* //project */


/* footer */
.footer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .left-head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 12.5rem;
  margin-left: 9rem;
}
.footer .left-head h1{
  font-size: 6.25rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.5rem;
}


.footer .identi li{
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: 300;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.footer .identi li:last-child{
  margin-bottom: 0;
}
.footer .identi li a{
  font-size: 1.75rem;
  font-weight: 300;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
/* //footer */


/* 반응형 */

@media (max-width: 1700px) {
  /* home */
  .bottom, .top{
    font-size: 4rem;
  }

  /* profile */
  .profile1-box .profile-all{
    margin-right: 10rem;
  }

 
}

@media (max-width:1400px) {
  /* profile */
  .profile1-box .profile-all{
    margin-right: 10rem;
  }

  
  /* profile */
  .profile1-box .profile-all .img-box{
    width: 200px;
    height: 200px;
  }

  .profile1-box .time-line .img-box{
    width: 586px;
    height: 480px;
  }
  .profile1-box .time-line .img-box img{
    object-fit: contain;
  }
  .profile2-box .language-box{
    margin-right: 7rem;
  }
  .profile2-box .language-box span{
    font-size: 1.25rem;
  }

  /* projectslide */
  .project-box{
    height: auto;
    padding-top: 6.25rem;
  }
  .project-slide{
    width: 1000px;
  }
  .project-slide .project-mask{
    width: 3200px;
  }
  .project-slide .project-mask .project-item{
    width: 450px;
  }
  .project-slide .project-mask .project-item:first-child .img-box a img{
    content: url(../img/m-gentlemonster.png);
  }
}


@media (max-width: 1300px) {
  /* home */
  .bottom, .top{
    font-size: 3.5rem;
  }
  .top{
    left: 5%;
  }
  .bottom{
    right: 5%;
  }


  /* profile */
  .profile1-box .profile-all{
    margin-right: 5rem;
  }

  .profile1-box .profile-all .name-age-box .name p,
  .profile1-box .profile-all .name-age-box .age p{
    font-size: 1.5rem;
  }

  .profile1-box .profile-all .education .head-t{
    font-size: 1.75rem;
  }

  .workmanship .content .item .line{
    width: 400px;
  }



  /* footer */
  .footer .left-head{
    margin-right: 4rem;
    margin-left: 7rem;
  }
  .footer .identi li{
    font-size: 1.5rem;
  }
}

@media (max-width:1050px) {
  /* profile */
  .profile1-box{
    flex-direction: column;
    height: auto;
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .profile1-box .profile-all{
    padding-top: 10rem;
    margin-right: 0;
    width: 100%;
  }
  .profile1-box .time-line{
    margin-top: 6.25rem;
    text-align: center;
  }

  .profile1-box .tap-head{
    display: block;
    color: #fff;
    font-size: 4rem;
    margin-bottom: 5rem;

  }
  .profile1-box .profile-all .img-box{
    margin: 4rem auto;

  }
  .profile1-box .profile-all .flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .profile1-box .profile-all .name-age-box .age,
  .profile1-box .profile-all .name-age-box .name{
    display: flex;
  }
  .profile1-box .profile-all .name-age-box .name{
    margin-right: 4rem;
  }

  .profile1-box .profile-all .name-age-box .name p, .profile1-box .profile-all .name-age-box .age p{
    font-size: 2rem;
  }
  .profile1-box .profile-all .name-age-box .name .ko, .profile1-box .profile-all .name-age-box .age .ko{
    font-size: 1.75rem;
    margin-left: 2.5rem;
  }
  .profile1-box .profile-all .name-age-box .age .ko{
    font-family: 'Noto Sans KR', sans-serif;;
  }

  .profile1-box .profile-all .education .head-t{
    font-size: 2.25rem;
  }
  .profile1-box .profile-all .education p{
    font-size: 1.5rem;
  }
  /* profile2 */
  .profile2-box{
    flex-direction: column;
    height: auto;
    margin-top: 10rem;
  }

  .profile2-box .language-box{
    display: none;
  }

  .workmanship .h-txt{
    text-align: end;

  }

  /* projectslide */
  .project-box{
    padding-top: 12rem;
    height: auto;
  }
  
  .arrow{
    display: none;
  }
  .project-slide{
    display: none;
  }

  .arrow.m{
    display: block;
  }
  .project-slide.m{
    display: block;
  }

  .project-head{
    margin-bottom: 3rem;
  }
  .project-head h1{
    font-size: 4rem;
  }
  .project-head span{
    font-size: 1.5rem;
  }
  .project-head span{
    padding-bottom: 0.825rem;
  }
  .m.project-slide{
    width: 650px;
  }
  .m.project-slide .project-mask{
    width: 4300px;
  }
  .m.project-slide .project-mask .project-item{
    width: 650px;
  }

  .arrow.m{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* footer */
  .footer{
    flex-direction: column;
    height: auto;
    padding-top: 20rem;
    padding-bottom: 15rem;
  }
  .footer .left-head{
    margin-right: 0;
    margin-left: 0;
  }
  .footer .left-head h1{
    margin-bottom: 3rem;
  }
  .footer .left-head .img-box{
    display: none;
  }
  .footer .identi{
    margin-left: 5rem;
  }

}

@media (max-width: 900px) {
  /* home */
  .bottom, .top{
    font-size: 2.75rem;
  }

  .txt-fixed p{
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  /* home */
  header{
    justify-content: center;
  }

  header nav{
    margin-right: 0;
  }

  .bottom, .top{
    font-size: 2.25rem;
  }

  .pagenation{
    display: none;
  }

  .txt-fixed p{
    font-size: 1.5rem;
  }

  /* project */
  .project-head{
    margin-bottom: 3.25rem;
  }
  .m.project-slide{
    width: 500px;
  }
  .m.project-slide .project-mask{
    width: 3500px;
  }
  .m.project-slide .project-mask .project-item{
    width: 500px;
    height: 400px;
  }
  .project-slide .project-mask .project-item .img-box{
    height: 170px;
  }
  .arrow.m{
    margin-top: 2rem;
  }
}

@media (max-width: 645px) {

  /* home */

  header nav a{
    font-size: 1.25rem;
  }

  .bottom, .top{
    font-size: 1.9rem;
  }

  .txt-fixed p{
    font-size: 1.35rem;
  }

  /* profile */
  .profile1-box .time-line .img-box{
    width: 474.7px;
    height: 388.8px;
  }

  /* project */


}

@media (max-width: 500px) {
  /* home */
  header nav a{
    font-size: 1rem;
    margin-right: 1rem;
  }
  header nav a:nth-child(3){
    margin-right: 0;
  }
  header nav a:last-child{
    display: none;
  }

  .bottom, .top{
    font-size: 1.5rem;
  }

  .txt-fixed p{
    font-size: 1.15rem;
  }

  /* profile */
  .profile1-box .profile-all{
    padding-top: 8rem;
  }
  .profile1-box .tap-head{
    font-size: 2.5rem;
    margin-bottom: 2rem;
  } 
  .profile1-box .profile-all .img-box{
    width: 150px;
    height: 150px;
  }
  .profile1-box .profile-all .flexbox{
    display: block;
    margin: 0 auto;
    width: auto;
  }
  .profile1-box .profile-all .name-age-box .name p, .profile1-box .profile-all .name-age-box .age p{
    font-size: 1.5rem;
  }
  .profile1-box .profile-all .name-age-box .name .ko, .profile1-box .profile-all .name-age-box .age .ko{
    font-size: 1.25rem;
  }
  .profile1-box .profile-all .name-age-box{
    margin-bottom: 2.5rem;
  }
  .profile1-box .profile-all .education .head-t{
    font-size: 2rem;
  }
  .profile1-box .profile-all .education p{
    font-size: 1rem;
  }

  .profile1-box .time-line h1{
    font-size: 1.75rem;
  }
  .profile1-box .time-line .img-box{
    width: 343px;
    height: 280px;
  }

  .workmanship .h-txt{
    font-size: 2rem;
  }
  .workmanship .content .item .line{
    width: 338px;
  }

  .project-box{
    margin-top: 0;
    padding-bottom: 3rem;
  }

  .project-head h1{
    font-size: 2.5rem;
  }
  .project-head span{
    padding-bottom: 0.2rem;
    font-size: 1.25rem;
  }
  .m.project-slide{
    width: 336px;
  }
  .m.project-slide .project-mask{
    width: 2516px;
  }
  .m.project-slide .project-mask .project-item{
    width: 343px;
    height: 250px;
  }
  .project-slide .project-mask .project-item .head-txt{
    display: block;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .project-slide .project-mask .project-item .head-txt h2{
    font-size: 1.5rem;
  }
  .project-slide .project-mask .project-item .sub-txt{
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }
  .project-slide .project-mask .project-item .img-box{
    height: 85px;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .project-slide .project-mask .project-item:nth-child(5) .img-box a img{
    object-fit: contain;
  }
  .project-slide .project-mask .project-item:nth-child(5) .img-box{
    height: 100px;
  }
  .arrow a{
    width: 20px;
    height: 32px;
  }

  .footer{
    margin-top: 6.25rem;
    padding-top: 2rem;
    padding-bottom: 3.25rem;
    background-color: #d3d3d3;
  }

  .footer .left-head h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #343434;
  }
  .footer .identi{
    margin: 0 auto;
  }
  .footer .identi li{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #343434;
    font-weight: bold;
  }
  .footer .identi li a{
    font-size: 1rem;
    color: #343434;
    font-weight: bold;
  }
}
